<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="com.cjf.dao.ReportDetailDao">-->
<!--    <insert id="insert" parameterType="ReportDetail">-->
<!--        INSERT INTO report_detail (input_value, insert_time, conference_name, user_email, orderId, statue) VALUES-->
<!--        (#{inputValue}, #{insertTime}, #{conferenceName}, #{userEmail}, #{orderId}, #{statue});-->
<!--    </insert>-->
<!--    <select id="selectByConferenceName" parameterType="String" resultType="com.cjf.dto.daoresultset.ReportDetailSet">-->
<!--        SELECT user_email AS userEmail, group_concat(input_value) AS inputValue FROM report_detail-->
<!--        WHERE conference_name = #{conferenceName} AND statue = 'TRADE_SUCCESS' GROUP BY user_email;-->
<!--    </select>-->
<!--    <delete id="delete" parameterType="int">-->
<!--        DELETE FROM report_detail WHERE id = #{id};-->
<!--    </delete>-->
<!--    <update id="update" parameterType="Report">-->
<!--        UPDATE report_detail-->
<!--        <set>-->
<!--            <if test="inputValue != null">input_value = #{inputValue},</if>-->
<!--            <if test="insertTime != null">insert_time = #{insertTime},</if>-->
<!--            <if test="conferenceName != null">conference_name = #{conferenceName},</if>-->
<!--            <if test="userEmail != null">user_email = #{userEmail},</if>-->
<!--            <if test="statue != null">statue = #{statue}</if>-->
<!--        </set>-->
<!--        WHERE orderId = #{orderId};-->
<!--    </update>-->
<!--</mapper>-->