<!DOCTYPE html>
<html lang="en" ng-app="myMessApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>我的消息</title>
    <script>
        if(sessionStorage.getItem('userEmail') === null){
            alert('请登录');
            window.location.href = '/login';
        }
    </script>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../../modules/account/css/mycommont.css"/>
    <link type="favicon" rel="shortcut icon" href="../../images/favicon.ico"/>
    <script src="../../script/angular-1.5.8/angular.js"></script>
    <script src="../../script/angular-1.5.8/angular-route.js"></script>

</head>
<body ng-controller="bodyController">
<header class="">
    <nav class="nav navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-section">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/index" class="navbar-brand">
                    <span class="glyphicon glyphicon-education"></span>
                    <span>会议系统</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="nav-section">
                <ul class="nav navbar-nav navbar-right">
                    <li class="first-li">
                        <a href="/conference/edit" class="first-li-first-a" style="">
                            <div class="" style="">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span>创建活动</span>
                            </div>
                        </a>
                    </li>
                    <!--<li class="divider"></li>-->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle text-center" data-toggle="dropdown" title="{{userEmail}}">
                            <!--<span class="glyphicon glyphicon-user"></span>-->
                            <!--&nbsp;-->
                            <img src="" ng-src="{{userMessage.headImgUrl}}" alt="" height="50" width="50">
                            &nbsp;
                            <span>{{userEmail|lengthLimit:5}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="text-center">
                                <a href="/account/myinfo">
                                    <span class="glyphicon glyphicon-home"></span>
                                    &nbsp;
                                    <span>个人中心</span>
                                </a>
                            </li>
                            <li class="text-center">
                                <a href="/account/myevent">
                                    <span class="glyphicon glyphicon-bookmark"></span>
                                    &nbsp;
                                    <span>我的活动</span>
                                </a>
                            </li>
                            <li class="text-center">
                                <a href="javascript:void(0);" ng-click="exitEvent();">
                                    <span class="glyphicon glyphicon-off"></span>
                                    &nbsp;
                                    <span>退出</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav nav-stacked">
                <li class="">
                    <a href="/account/myevent" style="" class="text-center">
                        <span class="glyphicon glyphicon-bookmark"></span>
                        &nbsp;
                        <span>我的活动</span>
                    </a>
                </li>
                <li class="">
                    <a href="/account/myjoin" style="" class="text-center">
                        <span class="glyphicon glyphicon-tag"></span>
                        &nbsp;
                        <span>我的参与</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/account/mymess" style="" class="text-center">
                        <span class="glyphicon glyphicon-envelope"></span>
                        &nbsp;
                        <span>我的消息</span>
                    </a>
                </li>
                <li class="">
                    <a href="/account/mypaper" style="" class="text-center">
                        <span class="glyphicon glyphicon-file"></span>
                        &nbsp;
                        <span>我的论文</span>
                    </a>
                </li>
                <li class="">
                    <a href="/account/myinfo" style="" class="text-center">
                        <span class="glyphicon glyphicon-cog"></span>
                        &nbsp;
                        <span>我的账号</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10" style="">
            <div class="head">
                <p>我的信息</p>
                <div class="btn-group">
                    <a href="#message" class="active" onclick="">
                        <span>全部</span>
                    </a>
                </div>
            </div>
            <div class="ic-info">
                <ng-view></ng-view>
            </div>
        </div>
    </div>
</section>
<script src="../../script/jquery-3.3.1.js"></script>
<script src="../../script/bootstrap.js"></script>
<script src="../../modules/account/script/mycommont.js"></script>
<script src="../../modules/account/script/mymess.js"></script>
<script type="text/ng-template" id="message">
    <div ng-show="messageList.length === 0">暂时没有</div>
    <table class="table table-hover table-responsive text-center" ng-show="messageList.length !== 0">
        <thead>
        <tr class="">
            <th>序号</th>
            <th>名称</th>
            <th>发送时间</th>
            <th>发送方</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mess in messageList">
            <td ng-bind="$index + 1"></td>
            <td ng-bind="mess.title"></td>
            <td ng-bind="mess.updateTime"></td>
            <td ng-bind="mess.name"></td>
            <td><a href="" ng-href="{{'/account/messdetail?papername=' + mess.paperName + '&'+ 'name=' + mess.name}}" target="_blank">详情</a></td>
        </tr>
        </tbody>
    </table>
</script>
</body>
</html>