header>nav.navbar{
    box-shadow: 0 1px 5px #777777;
    margin-bottom: 0;
}
header>nav.navbar>div.container>div.navbar-header>button.navbar-toggle{
    margin-top: 14px;
}
header>nav.navbar>div.container>div.navbar-header>a.navbar-brand{
    font-size: 23px;
    height: 64px;
    line-height: 32px;
}
header>nav.navbar>div.container>div.navbar-header>a.navbar-brand:hover span.glyphicon-education{
    color: black;
}
header>nav.navbar>div.container>div.navbar-header>a.navbar-brand:hover span.brand-gly{
    color: black;
}
header>nav.navbar>div.container>div.collapse>ul.nav>li.dropdown>a.dropdown-toggle{
    line-height: 34px;
    font-size: 17px;
}
@media screen and (min-width: 500px){
    header>nav.navbar>div.container>div.collapse>ul.nav>li.dropdown>div.dropdown-menu>div.container{
        width: 500px;
    }
}
@media screen and (min-height:250px){
    header>nav.navbar>div.container>div.collapse>ul.nav>li.dropdown>div.dropdown-menu>div.container{
        height: 250px;
    }
}
header>nav.navbar>div.container>div.collapse>ul.nav>li.dropdown>div.dropdown-menu>div.container span a{
    text-decoration: none;
    color: #777777;
    padding: 5px 6px;
}
header>nav.navbar>div.container>div.collapse>ul.nav>li.dropdown>div.dropdown-menu>div.container  span.time-span>a{
    text-decoration: none;
    color: #777777;
    padding: 5px 7px;
}
header>nav.navbar>div.container>div.collapse>ul.nav>li.dropdown>div.dropdown-menu>div.container span a:hover{
    /*text-decoration: none;*/
    color: white;
    background-color: black;
}
header>nav.navbar>div.container>div.collapse>ul.nav>li.dropdown>div.dropdown-menu>div.container>div.first{
    margin: 20px;
}
header>nav.navbar>div.container>div.collapse>ul.nav>li.dropdown>div.dropdown-menu>div.container>div.first>div.col-sm-8>span{
    margin-left: 15px;
    margin-right: 4px;
}
header>nav.navbar>div.container>div.collapse>ul.nav>li.dropdown>div.dropdown-menu>div.container>div.second{
    margin: 20px;
}
header>nav.navbar>div.container>div.collapse>ul.nav>li.dropdown>div.dropdown-menu>div.container>div.second>div.col-sm-8>span{
    margin-left: 15px;
    margin-right: 10px;
}
header>nav.navbar>div.container>div.collapse>ul.nav>li.dropdown>div.dropdown-menu>div.container>div.third{
    margin: 20px;
}
header>nav.navbar>div.container>div.collapse>ul.nav>li.dropdown>div.dropdown-menu>div.container>div.third>div.col-sm-8>span{
    margin-left: 15px;
    margin-right: 10px;
}
header>nav.navbar>div.container>div.collapse>form.navbar-form{
    border: 1px solid rgba(119, 119, 119, .2);
    margin-top: 11px;
}
header>nav.navbar>div.container>div.collapse>form.navbar-form>div.form-group>label{
    font-weight: normal;
}
header>nav.navbar>div.container>div.collapse>form.navbar-form>div.form-group>input.form-control{
    border: none;
    height: 40px;
    background-color: #F8F8F8;
}
header>nav.navbar>div.container>div.collapse>form.navbar-form>div.form-group>input:focus{
    border: none;
    box-shadow: none;
}
header>nav.navbar>div.container>div.collapse>form.navbar-form>button.btn-default{
    border-radius: 0;
    border: none;
    color: #777777;
    background-color: #F8F8F8;
}
header>nav.navbar>div.container>div.collapse>ul.navbar-right>li>a{
    line-height: 34px;
    font-size: 17px;
}
header>nav.navbar>div.container>div.collapse>ul.navbar-right>li.first-li>a.first-li-first-a{
    line-height: 28px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 15px;
}
header>nav.navbar>div.container>div.collapse>ul.navbar-right>li.first-li>a.first-li-first-a>div{
    background-color: #777777;
    color: white;
    border: 2px solid #777777;
}
header>nav.navbar>div.container>div.collapse>ul.navbar-right>li.first-li>a.first-li-first-a:hover div{
    background-color: black;
    border: 2px solid black;
}

header>nav.navbar>div.container>div.collapse>ul.navbar-right>li.second-li>a.second-li-first-a{
    /*border: 1px solid red;*/
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
}
header>nav.navbar>div.container>div.collapse>ul.navbar-right>li.third-li>a.third-li-first-a{
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
}
header>nav.navbar>div.container>div.collapse>ul.navbar-right>li.third-li>a.third-li-second-a{
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
}
header>nav.navbar>div.container>div.collapse>ul.navbar-right>li.third-li>span{
    font-size: 17px;
}


header>nav.navbar-default>div.container>div.collapse>ul.navbar-right>li.dropdown{
    /*margin-right: 30px;*/
    /*margin-left: 30px;*/
    /*padding: 0;*/
}
header>nav.navbar-default>div.container>div.collapse>ul.navbar-right>li.dropdown>a{
    margin-top: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}
header>nav.navbar-default>div.container>div.collapse>ul.navbar-right>li.dropdown>ul.dropdown-menu>li>a{
    color: #777777;
    padding: 10px 0;
    font-size: 15px;
}
header>nav.navbar-default>div.container>div.collapse>ul.navbar-right>li.dropdown>ul.dropdown-menu>li>a:hover{
    color: #000000;
}
section.divider{
    height: 30px;
}
section#search_panel{
    margin-top: 90px;
}
section#search_panel>div.container>div.row>div.col-sm-12{
    padding: 10px 0;
    background-color: #CCCCCC;
}
section#search_panel>div.container>div.row>div.col-sm-12>div.col-sm-12{
    margin: 10px 0;
}
section#search_panel>div.container>div.row>div.col-sm-12>div.col-sm-12>div.col-sm-11>span>a{
    margin: 0 6px;
    padding: 4px 5px;
    color: #777777;
    text-decoration: none;
}
section#search_panel>div.container>div.row>div.col-sm-12>div.col-sm-12>div.col-sm-11>span>a.active{
    background-color: #000000;
    color: white;
}
section#search_panel>div.container>div.row>div.col-sm-12>div.col-sm-12>div.col-sm-11>span>a:hover{
    background-color: #000000;
    color: white;
}
section#search_key_word>div.container>div.row>div.col-sm-12{
    background-color: #CCCCCC;
}
section#search_key_word>div.container>div.row>div.col-sm-12>span{
    font-size: 17px;
}
section#search_result{
    height: 850px;
}
section#search_result>div.container>div.row>div.col-sm-3{
    margin-top: 40px;
}
section#search_result>div.container>div.row>div.col-sm-3>div.context{
    border: 1px solid rgba(119, 119, 119, .4);
}
@media screen and (max-width: 500px){
    section#search_result>div.container>div.row>div.col-sm-3>div.context{
        border: none;
    }
}
section#search_result>div.container>div.row>div.col-sm-3>div.context>a{
    text-decoration: none;
    color: #777777;
}
section#search_result>div.container>div.row>div.col-sm-3>div.context>a>div{
    overflow: hidden;
}
section#search_result>div.container>div.row>div.col-sm-3>div.context>a>div>img{
    transition: all 0.6s;
    width: 320px;
    height: 140px;
}

section#search_result>div.container>div.row>div.col-sm-3>div.context>a:hover .ic-description{
    color: black;
}
section#search_result>div.container>div.row>div.col-sm-3>div.context>a:hover img{
    /*color: black;*/
    transform: scale(1.1);
}
section#search_result>div.container>div.row>div.col-sm-3>div.context>a>div.text-center>span.ic-description{
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    font-size: 15px;
}
section#search_result>div.container>div.row>div.col-sm-3>div.context>a>div.text-center>span.glyphicon-calendar{
    font-size: 12px;
}
section#search_result>div.container>div.row>div.col-sm-3>div.context>a>div.text-center>span.gly-local{
    font-size: 12px;
}
section#search_result>div.container>div.row>div.col-sm-3>div.context>a>div.text-center>span.gly-date{
    margin-right: 15px;
    font-size: 12px;
}
section#search_result>div.container>div.row>div.col-sm-3>div.context>a>div.text-center>span.glyphicon-map-marker{
    margin-left: 15px;
    font-size: 12px;
}
footer.ic-footer{
    background-color: #27282D;
}
footer.ic-footer>div.container>div.row>div.col-sm-2>p{
    margin-top: 40px;
    color: white;
    margin-bottom: 20px;
}
footer.ic-footer>div.container>div.row>div.col-sm-2>a{
    display: block;
    text-decoration: none;
    color: #777777;
    margin-bottom: 5px;
}
footer.ic-footer>div.container>div.row>div.col-sm-2>a:hover{
    color: #DEDEDE;
}
footer.ic-footer>div.container>div.row>div.col-sm-2>img{
    margin-top: 40px;
}
footer.ic-footer>div.container>div.row>div.col-sm-2>div.blank{
    background-color: white;
    width: 126px;
    height: 25px;
}
footer.ic-footer>div.container>div.row>div.col-sm-6>p{
    color: #777777;
    font-size: 13px;
}
footer.ic-footer>div.container>div.row>div.col-sm-6>p:nth-child(1){
    margin-top: 50px;
}
footer.ic-footer>div.container>div.row>div.col-sm-2{
    color: #777777;

}
footer.ic-footer>div.container>div.row>div.col-sm-2{
    margin-top: 50px;
}